.slide{
    display: flex;
    gap: 0.7rem;

    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    background-color: rgba(65, 63, 63, 0.253);
    padding-inline: 1.5rem;
    padding-block: 0.6rem;
    border-radius: 0.9rem;

    backdrop-filter: blur(5px);

    .icon{
        padding: 0.5rem;
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;

        aspect-ratio: 1/1;
        width: 3.5rem;
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }

    
    .github,.cli
    {
        background-color:black
    }
    .note{
        background:linear-gradient(to bottom,rgb(253, 183, 78),rgb(252, 168, 42));
    }
    .pdf{
        background: linear-gradient(to bottom,rgb(250, 52, 95),rgb(250, 52, 95));
    }
    .calender,.mail{
        background:linear-gradient(to bottom,rgb(125, 70, 252),rgb(115, 55, 253));
    }
    .spotify{
        background: linear-gradient(to bottom,rgb(125, 253, 125),rgb(43, 252, 43));
    }
    .link{
        background: linear-gradient(to bottom,rgb(255, 82, 255),rgb(255, 19, 255));
    }

    .icon:hover{
        transform: scale(1.2) translateY(-20%);
    }
    .icon:hover+.icon,
    .icon:has(+ .icon:hover)
    {
        transform: scale(1) translateY(-10%);
    }
}